@model Project.ViewModels.BookViews.GetAllBookView
@{
    ViewBag.Title = "Все книги";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>Все книги</h3>

<table class="table">

    <tr>
        <td>Название</td>
        <td>Автор</td>
        <td>Цена</td>
        <td> </td>
    </tr>
    @foreach (var item in Model.Books)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Author</td>
            <td>@item.Price</td>
            <td>

                <a asp-action="Update" asp-controller="Book" asp-route-id="@item.Id">Изменить</a> |
                <a asp-action="ConfirmDelete" asp-controller="Book" asp-route-id="@item.Id">Удалить</a>
            </td>
        </tr>
    }
</table>

<div>
    <a asp-action="Create">Добавить книгу</a> |
    <a asp-action="Buy" asp-controller="Order">Купить книгу</a> |
    <a asp-action="Index" asp-controller="Order"> Информация о заказе </a> |
    <a asp-action="Index" asp-controller="Category">Категории</a>
</div>

